<div class="govuk-width-container">
  <a routerLink="/email" class="govuk-back-link">Back</a>
  <h1 class="govuk-heading-l">Find an address</h1>
  <form [formGroup]="addressLookupForm" class="form">
    <div
      [ngClass]="{ 'govuk-form-group--error': !postcodeValid }"
      id="postcode-input"
      class="govuk-form-group"
    >
      <label class="govuk-label" for="postcode"> Postcode </label>
      <p
        [style.display]="postcodeValid ? 'none' : 'block'"
        id="postcode-error"
        class="govuk-error-message"
      >
        <span class="govuk-visually-hidden">Error:</span> Enter your postcode
      </p>
      <div id="postcode-hint" class="govuk-hint">For example, AA3 1AB.</div>
      <input
        [ngClass]="{ 'govuk-input--error': !postcodeValid }"
        formControlName="postcode"
        class="govuk-input govuk-!-width-two-thirds"
        id="postcode"
        name="postcode"
        type="text"
        aria-describedby="postcode-hint"
      />
    </div>
    <div
      [ngClass]="{ 'govuk-form-group--error': !buildingNumberNameValid }"
      id="building-number-name-input"
      class="govuk-form-group"
    >
      <label class="govuk-label" for="searchString">
        Building number or name
      </label>
      <p
        [style.display]="buildingNumberNameValid ? 'none' : 'block'"
        id="buildingNumberName-error"
        class="govuk-error-message"
      >
        <span class="govuk-visually-hidden">Error:</span> Enter the building
        name or number
      </p>
      <div id="searchString-hint" class="govuk-hint">
        For example, 15 or Prospect Cottage.
      </div>
      <input
        [ngClass]="{ 'govuk-input--error': !buildingNumberNameValid }"
        formControlName="buildingNumberName"
        class="govuk-input govuk-!-width-two-thirds"
        id="searchString"
        name="searchString"
        type="text"
        aria-describedby="searchString-hint"
      />
    </div>
    <button
      (click)="onClick()"
      type="button"
      class="govuk-button"
      data-module="govuk-button"
    >
      Find address
    </button>
  </form>
  <p class="govuk-body govuk-!-margin-bottom-0">
    <a routerLink="/enterAddressManually" class="govuk-link"
      >Enter address manually</a
    >
  </p>
</div>
