<div class="govuk-width-container">
  <a routerLink="/email" class="govuk-back-link">Back</a>
  <h1 class="govuk-heading-l">Find an address</h1>
  <form [formGroup]="addressLookupForm" class="form">
    <app-postcode-form
      [addressForm]="addressLookupForm"
      [postcodeValid]="postcodeValid"
    ></app-postcode-form>
    <div
      [ngClass]="{ 'govuk-form-group--error': !addressLineOneValid }"
      id="addressLineOne-input"
      class="govuk-form-group"
    >
      <label class="govuk-label" for="searchString">
        Building number or name
      </label>
      <p
        [style.display]="addressLineOneValid ? 'none' : 'block'"
        id="addressLineOne-error"
        class="govuk-error-message"
      >
        <span class="govuk-visually-hidden">Error:</span> Enter the building
        name or number
      </p>
      <div id="searchString-hint" class="govuk-hint">
        For example, 15 or Prospect Cottage.
      </div>
      <input
        [ngClass]="{ 'govuk-input--error': !addressLineOneValid }"
        formControlName="addressLineOne"
        class="govuk-input govuk-!-width-two-thirds"
        id="searchString"
        name="searchString"
        type="text"
        aria-describedby="searchString-hint"
      />
    </div>
    <button
      (click)="onClick()"
      type="button"
      class="govuk-button"
      data-module="govuk-button"
    >
      Find address
    </button>
  </form>
  <p class="govuk-body govuk-!-margin-bottom-0">
    <a routerLink="/enterAddressManually" class="govuk-link"
      >Enter address manually</a
    >
  </p>
</div>
