<form name="vrnForm">
  <div [ngClass]="{ 'govuk-form-group--error': !isValid }" class="govuk-form-group">
    <label class="govuk-label" for="vehicle-reg-number">
      Registration number (number plate)
    </label>
    <div id="input-hint" class="govuk-hint">For example, CU57ABC</div>
    <p [style.display]="isValid ? 'none' : 'block'" id="address-postcode-error" class="govuk-error-message">
      {{ this.errorMessage }}
    </p>
    <input [ngClass]="{ 'govuk-input--error': !isValid }" [formControl]="vrn" name="vehicle-reg-number"
      class="govuk-input govuk-input--width-10" maxlength="8" autocomplete="off" type="text" id="vehicle-reg-number" />
  </div>

  <button (click)="onClick()" type="button" class="govuk-button" data-module="govuk-button">
    Continue
  </button>
</form>