<form [formGroup]="addressForm" class="form">
  <a routerLink="/addressLookup" class="govuk-back-link">Back</a>
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">What is your address?</h1>
    </legend>
    <div
      [ngClass]="{ 'govuk-form-group--error': !line1Valid }"
      class="govuk-form-group"
    >
      <label class="govuk-label" for="line-1"> Address line 1 </label>
      <p
        [style.display]="line1Valid ? 'none' : 'block'"
        id="line1-error"
        class="govuk-error-message"
      >
        <span class="govuk-visually-hidden">Error:</span> Enter your first line
        of address
      </p>
      <input
        [ngClass]="{ 'govuk-input--error': !line1Valid }"
        formControlName="line1"
        class="govuk-input"
        id="line-1"
        name="addressLine1"
        type="text"
        autocomplete="address-line1"
      />
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="line-2">
        Address line 2 (optional)
      </label>
      <input
        class="govuk-input"
        formControlName="line2"
        id="address-line-2"
        name="addressLine2"
        type="text"
        autocomplete="address-line2"
      />
    </div>
    <div
      [ngClass]="{ 'govuk-form-group--error': !cityValid }"
      class="govuk-form-group"
    >
      <label class="govuk-label" for="address-city"> Town or city </label>
      <p
        [style.display]="cityValid ? 'none' : 'block'"
        id="city-error"
        class="govuk-error-message"
      >
        <span class="govuk-visually-hidden">Error:</span> Enter your town or
        city
      </p>
      <input
        [ngClass]="{ 'govuk-input--error': !cityValid }"
        formControlName="city"
        class="govuk-input govuk-!-width-two-thirds"
        id="address-city"
        name="addressCity"
        type="text"
        autocomplete="address-level2"
      />
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="address-province">
        County (optional)
      </label>
      <input
        formControlName="province"
        class="govuk-input govuk-!-width-two-thirds"
        id="address-province"
        name="addressProvince"
        type="text"
      />
    </div>
    <app-postcode-form
      [addressForm]="addressForm"
      [postcodeValid]="postcodeValid"
    ></app-postcode-form>
  </fieldset>

  <button
    (click)="onClick()"
    type="button"
    class="govuk-button"
    data-module="govuk-button"
  >
    Continue
  </button>
</form>
