<html class="govuk-template" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
  </head>
  <header class="govuk-header">
    <app-header></app-header>
  </header>
  <main class="govuk-main-wrapper app-width-container">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <!-- <div class="govuk-grid-column-two-thirds"> -->
          <app-content-wrapper>
            <router-outlet> </router-outlet>
          </app-content-wrapper>
        <!-- </div> -->
      </div>
    </div>
  </main>

  <footer class="govuk-footer" role="contentinfo">
    <app-footer></app-footer>
  </footer>
</html>
