<div class="govuk-width-container">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">Confirm address</h1>
  </legend>
  <p class="govuk-body">
    If this is not your address then
    <a id="searchAgainLink" routerLink="/addressLookup">search again</a>
  </p>
  <div class="govuk-inset-text">
    @if (displayAddress?.line1) {
    {{ displayAddress?.line1 }} <br />
    } @if (displayAddress?.line2) {
    {{ displayAddress?.line2 }} <br />
    } @if (displayAddress?.city) {
    {{ displayAddress?.city }} <br />
    } @if (displayAddress?.province) {
    {{ displayAddress?.province }} <br />
    }@if (displayAddress?.postcode) {
    {{ displayAddress?.postcode }}
    }
  </div>
  <button
    (click)="onClick()"
    type="button"
    class="govuk-button"
    data-module="govuk-button"
  >
    Use this address
  </button>
  <p class="govuk-body">
    <a routerLink="/chooseAddress" class="govuk-link"
      >Use a different address</a
    >
  </p>
  <p class="govuk-body govuk-!-margin-bottom-0">
    <a routerLink="/enterAddressManually" class="govuk-link"
      >Enter address manually</a
    >
  </p>
</div>
