<div class="govuk-width-container">
  <a routerLink="/confirmVehicleDetails" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">
        Ensure you fulfill the adequate parking criteria
      </h1>
      <ul>
        <li>
          <p class="govuk-body">
            Street parking must be generally available outside or near your
            home.
          </p>
        </li>
        <li>
          <p class="govuk-body">
            The on-street parking must be legal and not disrupt the safety or
            flow of vehicles and pedestrians.
          </p>
        </li>
      </ul>
      <button
        (click)="onClick()"
        type="button"
        class="govuk-button"
        data-module="govuk-button"
      >
        Continue
      </button>
    </div>
  </div>
</div>
